body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
}

h1 {
  margin-bottom: 20px;
}

select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}
